VITE_GEMINI_API_KEY=
VITE_FIREBASE_API_KEY=AIzaSyDNDwIh3X0vycBP2BTwPUt5R83hhlfAKn8
VITE_FIREBASE_AUTH_DOMAIN=ku-hackathon-f2fa3.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ku-hackathon-f2fa3
VITE_FIREBASE_STORAGE_BUCKET=ku-hackathon-f2fa3.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=501535392986
VITE_FIREBASE_APP_ID=1:501535392986:web:4502363fea7189ae8c51e3
